<h1>Seminarie Refleqt: Measure your performance with gatling: "Prepare for black Friday”.</h1>
<div class="container">
  <div class="img-container">
    <img src="assets/images/performance.jpg">
  </div>
  <div class="text-container">
    <h4>Omschrijving: Een seminarie over hoe je de performance van een site kan testen zodat je weet hoeveel visitors er tegelijk op kunnen.</h4>
    <h4>Locatie activiteit: PXL </h4>
    <h4>Datum en duur: 24/11/2021 3u</h4>
    <h4>Domein: seminaries</h4>
  </div>
</div>
