<div class="overzicht-container">
  <div class="image-container">
    <img src="assets/images/unity.png">
  </div>
  <div class="text-container">
    <h1>Hackaton 2022: 2d minigames in unity</h1>
    <h4>Omschrijving: In deze hackaton maakten we games voor de bewoners van Sint-Oda. Daarom moesten de games ook aangepast worden zodat ze speelbaar waren voor mensen met een mentale beperking. </h4>
    <h4>Locatie activiteit: online via teams</h4>
    <h4>Datum en duur Activiteit: 15/02/2022 – 16/02/2022 16u</h4>
    <h4>Domein: Innovatie</h4>
  </div>
</div>
<div class="inhoud-container">
  <div class="verslag-container">
    <h2>Verslag activiteit</h2>
    <p>Voor deze activiteit was het de bedoeling om in 2 dagen een 2d minigame te creëren. Deze games zouden gebruikt worden door da bewoners van Sint-Oda, een dienstcentrum voor mensen met een verstandelijke beperking. Dit zorgde ervoor dat de games moesten aangepast worden aan deze beperking. Dit zorgde er ook voor dat de games simpel moesten zijn maar deze games moesten ook veel speciale effecten hebben om het interessant te houden voor de bewoners.  In deze hackaton zat ik in het team met Jens Panis, Didier Colson, Devin Pelckmans en Herman Verhelst.</p>
    <p>Het doel van deze hackaton was om binnen 2 dagen een 2D mini game te maken. Deze games zouden gespeeld worden door de bewoners van Sint-Oda, daarom moesten de games ook aangepast worden aan mensen met een beperking.  De games zouden zo opgebouwd moeten zijn zodat de bewoners geen hulp nodig hadden van de verplegers en zelfstandig konden blijven spelen. Verder was het ook belangrijk dat de game interessant bleef. Dit konden we doen door special-effects toe te voegen zoals bv geluiden, veranderingen van kleur etc….</p>
    <p>We konden kiezen uit zes verschillende games die voorgesteld werden door studenenten ortho pedagogie. De games waar we uit konden kiezen waren:</p>
    <ul>
      <li>Malle mollen: In deze game komen er mollen uit de grond en moet je deze neerslaan.</li>
      <li>Puzzel</li>
      <li>Kriebelbeestjes: In deze game lopen er verschillende insecten over het scherm die je kan vangen door erop te tikken.</li>
      <li>Bubbels: Een simpele versie van bubble shooter.</li>
      <li>Dierengeluiden: een soort memory met dieren waarbij je het geluid van het dier hoort wanneer je de 2 juiste kaarten omdraait.</li>
      <li>Eekhoorn je mee: Een spel waarbij je een eekhoorn moet navigeren over een pad met verschillende obstakels</li>
      <li>Herfst: Een soort herfst simulator. Op het scherm zie je een boom. Wanneer je op de boom tikt vallen er blaadjes die je kan opzuigen met een bladblazer.</li>
    </ul>
    <p>Om te bepalen welk team welke game ging maken moest ieder team een top 3 doorgeven. Aan de hand van deze top 3 lijstjes werd er aan ieder team een game toegewezen. Ons team kreeg de puzzel.</p>
    <p>Om te beginnen moesten we er eerst voor zorgen dat het PXL-logo zichtbaar was op het opstart scherm. Om dit te doen moesten we eerst het PXL-logo toevoegen in de map met sprites. </p>
    <div class="image-met-onderschrift">
      <img src="assets/images/puzzel/puz1.png">
    </div>
    <p>Vervolgens moesten we naar player settings gaan en het logo instellen als splash image.</p>
    <div class="image-met-onderschrift">
      <img src="assets/images/puzzel/puz2.png">

    </div>
    <p>Daarna werd het logo getoond wanneer je de game opstartte.</p>
    <div class="image-met-onderschrift">
      <img src="assets/images/puzzel/puz3.jpg" width="100%">

    </div>

    <p>Wanneer je de game opstart kom je op het startscherm.</p>

    <div class="image-container">
      <div class="image-met-onderschrift">
        <img src="assets/images/puzzel/puz4.png">
      </div>
    </div>

    <p>Op dit scherm kan je kiezen of je wil starten met spelen of de instellingen wil aanpassen. Wanneer je op het tandwieltje tikt kom je op de instellingen pagina. </p>

    <div class="image-met-onderschrift">
      <img src="assets/images/puzzel/Puz5.png">
    </div>


    <p>Hier kan je het geluid aan en uit zetten en kiezen hoeveel puzzel stukken je wil. Voor dit voorbeeld kiezen we voor 4 puzzelstukken. Wanneer we terug naar het startscherm gaan en op start klikken komen we op het puzzel selectie scherm. </p>
    <div class="image-met-onderschrift">
      <img src="assets/images/puzzel/puz6.png">
    </div>
    <div class="image-container">
      <div class="image-met-onderschrift" >
        <img src="assets/images/puzzel/puz7.png" width="100%">
      </div>
      <div class="image-met-onderschrift">
        <img src="assets/images/puzzel/puz8.png" width="100%">

      </div>
    </div>
    <p>Op dit menu kan je scrollen tussen verschillende puzzels door op de pijltjes te klikken. Om dit menu te maken heb ik me gebaseerd op de volgende tutorial: https://youtu.be/3_xHu-JCkl4 . </p>
    <p>Wanneer je je puzzel gekozen hebt klik je op het vinkje en dan start de game.</p>
    <div class="image-met-onderschrift">
      <img src="assets/images/puzzel/Puz9.png" >

    </div>
    <p>Wanneer de puzzel klaar is komt er een knop tevoorschijn en valt er confetti naar beneden. Wanneer je op de knop klikt ga je terug naar het start menu.</p>
    <div class="image-met-onderschrift">
      <img src="assets/images/puzzel/puz10.png" >
    </div>
    <p>Verder hebben we er ook voor gezorgd voor enkele geluidseffecten. Bijvoorbeeld: een buzzend geluid wanneer een puzzelstuk fout wordt geplaatst, een toeter wanneer de puzzel klaar is, etc.…</p>
    <p>Omdat ik niet alles kan tonen aan de hand van screenshots heb ik ook nog een filmpje gemaakt. Dit filmpje kan je bekijken via deze link: https://youtu.be/irVFgLXLK6s . </p>
  </div>
  <div class="reflectie-container">
    <h2>Reflectie activiteit</h2>
    <p>Ik heb voor deze hackaton gekozen omdat het me altijd al leuk leek om een game te maken. Ik begon aan deze hackaton zonder ervaring in game-development waardoor het soms wat moeilijker was om iets te implementeren. Zelf ben ik vooral bezig geweest met het selectie menu voor de puzzels. Om dit te kunnen maken heb ik een tutorial gevolgd op youtube. Zelfs met behulp van die tutorial vond ik het moeilijk maar dat kwam vooral omdat ik geen ervaring met unity had waardoor ik het al moeilijk vond om een knop juist te positioneren. Maar ondanks dat ben ik blijven proberen en heb ik toch een werkend resultaat kunnen afleveren. De backend van games die gemaakt zijn met Unity wordt geschreven in C#. In de opleiding hebben we al heel veel gewerkt met C# waardoor het voor mij iets makkelijker was om backend logica toe te voegen en te zorgen dat alles correct werkte.   </p>
    <p>Ik vond de hackaton de leukste en meest leerrijke activiteit van alle I-talent activiteiten die ik heb gedaan. Ik begon deze hackaton zonder ervaring met Unity maar aan het einde van de hackaton had ik toch het gevoel dat in de basis van unity deels onder de knie had.</p>
    <p>Ik heb ervoor gekozen omdat dit mijn favoriete I-talent activiteit was. Het was fijn om voor de eerste keer een game te maken en ik heb hieruit ook veel geleerd over game-development. Ik ben ook heel trots op het eindresultaat waardoor deze activiteit zeker niet mag ontbreken in mijn portfolio.</p>
  </div>
</div>
