.overzicht-container{
  display: flex;


}
.image-container{
  padding-right: 2% ;
}

.inhoud-container{
  display: flex;

  justify-content: space-between;

}

.verslag-container{
  width: 45%;
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 10px;

}

.reflectie-container{
  width: 45%;
  margin-right: 10px;

}
.image-met-onderschrift{
  text-align: center;
}

.image-container{
  display: flex;
  justify-content: center;
}

.titel{
  display:flex;
  justify-content: space-around;
}
