h1{
  text-align: center;
}

.container{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;

}
.products {
  display: flex;
  flex-wrap: wrap;

}

.product-card {
  /*padding: 2%;*/
  /*flex-grow: 1;*/
  /*flex-basis: 16%;*/
  width: 25%;
  /*border: black 1px solid;*/
  display: flex;
  justify-content: center;
  text-align: center;/* so child elements can use flexbox stuff too! */
  flex-direction: column;
  /*flex: 1 16%;*/

}

.product-card:hover{
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  cursor: pointer;
}


.product-image img {
  max-width: 100%;
}
