<h1>I-Talent Activity Shop</h1>
<div class="container">
<section class="products">

  <!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->

  <div class="product-card" [routerLink]="['/projectweek']">
    <div class="product-image">
      <img src="assets/images/projectweek.jpg">
    </div>
    <div class="product-info">
      <h3>Projectweek</h3>
      <h4>€ 20,00</h4>
    </div>
  </div>
  <div class="product-card" [routerLink]="['/brein']">
    <div class="product-image" >
      <img src="assets/images/brein.png">
    </div>
    <div class="product-info">
      <h3>Pop-sessie: brein aan het werk</h3>
      <h4>€ 25,00</h4>
    </div>
  </div>

<div class="product-card" [routerLink]="['/brainjar']">
  <div class="product-image">
    <img src="assets/images/brainjar.png">
  </div>
  <div class="product-info">
    <h3>Seminarie: Brainjar AI</h3>
    <h4>€ 45,00</h4>
  </div>
</div>

  <div class="product-card" [routerLink]="['/flexbox']">
    <div class="product-image">
      <img src="assets/images/flexbox-froggy.png">
    </div>
    <div class="product-info">
      <h3>Seminarie: Realdomen flexbox & grid</h3>
      <h4>€ 64,99</h4>
    </div>
  </div>
  <div class="product-card" [routerLink]="['/veerkracht']">
    <div class="product-image">
      <img src="assets/images/veer.jpg">
    </div>
    <div class="product-info">
      <h3>Pop-sessie: (veer)krachtige teams</h3>
      <h4>€ 35,00</h4>
    </div>
  </div>
  <div class="product-card" [routerLink]="['/GDPR']">
    <div class="product-image">
      <img src="assets/images/GDPR-badge.png">
    </div>
    <div class="product-info">
      <h3>Seminarie: Realdomen GDPR</h3>
      <h4>€ 25,00</h4>
    </div>
  </div>
  <div class="product-card" [routerLink]="['/rccu']">
    <div class="product-image">
      <img src="assets/images/rccu.jpg">
    </div>
    <div class="product-info">
      <h3>Seminarie: RCCU</h3>
      <h4>€ 70,00</h4>
    </div>
  </div>
  <div class="product-card" [routerLink]="['/innovatie']">
    <div class="product-image">
      <img src="assets/images/AI.jpg">
    </div>
    <div class="product-info">
      <h3>Inovatieroute: AI</h3>
      <h4>€ 75,00</h4>
    </div>
  </div>
  <div class="product-card" [routerLink]="['/my-team-and-i']">
    <div class="product-image">
      <img src="assets/images/myteam.jpg">
    </div>
    <div class="product-info">
      <h3>Pop-sessie: My Team and I</h3>
      <h4>€ 49,99</h4>
    </div>
  </div>
  <div class="product-card" [routerLink]="['/flutter']">
    <div class="product-image">
      <img src="assets/images/flutter.jpg">
    </div>
    <div class="product-info">
      <h3>Seminarie: It-Licious Flutter</h3>
      <h4>€ 60,00</h4>
    </div>
  </div>
  <div class="product-card" [routerLink]="['/refleqt']">
    <div class="product-image">
      <img src="assets/images/performance.jpg">
    </div>
    <div class="product-info">
      <h3>Seminarie Refleqt: Measure your performance with gatling</h3>
      <h4>€ 15,00</h4>
    </div>
  </div>
  <div class="product-card" [routerLink]="['/docker']">
    <div class="product-image">
      <img src="assets/images/docker-logo.png">
    </div>
    <div class="product-info">
      <h3>Seminarie: Eurofins Docker</h3>
      <h4>€ 10,00</h4>
    </div>
  </div>
  <div class="product-card" [routerLink]="['/Solid']">
    <div class="product-image">
      <img src="assets/images/solid.png">
    </div>
    <div class="product-info">
      <h3>Seminarie: Konsolidate Solid</h3>
      <h4>€ 35,00</h4>
    </div>
  </div>
  <div class="product-card" [routerLink]="['/unity']">
    <div class="product-image">
      <img src="assets/images/unity.png">
    </div>
    <div class="product-info">
      <h3>Hackaton 2022: 2D Minigames in Unity </h3>
      <h4>€ 99,99</h4>
    </div>
  </div>


  <!-- more products -->

</section>
</div>
