<h1>Pop-sessie: My team and I</h1>
<div class="container">
  <div class="img-container">
    <img src="assets/images/myteam.jpg">
  </div>
  <div class="text-container">
    <h4>Omschrijving: In deze sessie leerden we hoe we als team het best kunnen handelen in verschillende situaties. Daarna was het tijd om onze teamgenoten beter te leren kennen aan de hand van spelletjes.</h4>
    <h4>Locatie activiteit: I-Space </h4>
    <h4>Datum en duur: 13/10/2021 3u</h4>
    <h4>Domein: persoonlijke ontwikkeling</h4>
  </div>
</div>
