<div class="overzicht-container">
  <div class="image-container">
    <img src="assets/images/flexbox-froggy.png">
  </div>
  <div class="text-container">
    <h1>Seminarie Realdomen flexbox en grid </h1>
    <h4>Omschrijving: In dit seminarie leerden we hoe we flexbox en grid kunnen gebruiken om elementen te positioneren op een webpagina.</h4>
    <h4>Locatie activiteit: Online Teams</h4>
    <h4>Datum en duur Activiteit: 23/03/2021 3u</h4>
    <h4>Domein: seminaries</h4>
  </div>
</div>
<div class="inhoud">
  <div class="titel">
    <h2>Verslag activiteit</h2>
    <h2>Reflectie activiteit</h2>
  </div>
<div class="inhoud-container">
  <div class="verslag-container">
    <p>In dit seminarie werd er verteld over hoe men flexbox en grid kon gebruiken om html elementen te positioneren op een webpagina. Dit werd uitgelegd aan de hand van 2 games die de werking van flexbox en grid visueel voorstelden. Ik heb dit seminarie gekozen omdat ik moeite had met het positioneren van html-elementen en ik hoopte dat dit seminarie mij hierbij kon helpen.</p>
    <p>Aan het begin van dit seminarie werd er eerst een korte introductie gegeven over Realdolmen.  Vervolgens kregen we uitleg over flexbox en de interne werking ervan. Flexbox werkt met 2 assen, een horizontale as en een verticale as die respectievelijk de main-as en de cross-as heten. Main as helpt bij het links en rechts positioneren van het html element en de cross as voor het verticaal positioneren van het html element. De functies van flexbox werden eerst uitgelegd aan de hand van een klein voorbeeld en vervolgens werd alles herhaald aan de hand van het spel flexbox froggy.</p>
    <p>De bedoeling van het spel is om de kikker op het lelieblad te krijgen met behulp van de juiste CSS code.</p>
    <div class="image-met-onderschrift">
      <img src="assets/images/flexbox/flexbox1.png">
    </div>
    <div class="image-met-onderschrift">
      <img src="assets/images/flexbox/fb2.png">

    </div>
    <p>Voor het eerste level was het de bedoeling om de kikker te verschuiven naar de lelie die in de rechterbovenhoek stond. Dit kon je doen door ‘justify-content: flex-end’ te gebruiken aangezien flex-end de elementen aan de rechterkant uitlijnt.</p>

      <div class="image-met-onderschrift">
        <img src="assets/images/flexbox/fb3.png">
      </div>
      <div class="image-met-onderschrift">
        <img src="assets/images/flexbox/fb4.png">

      </div>

    <p>Vervolgens moest je beide kikkers in het midden plaatsen, dit kon je doen door ‘justify-content: center’ te gebruiken.</p>

      <div class="image-met-onderschrift">
        <img src="assets/images/flexbox/fb51.png">
      </div>
      <div class="image-met-onderschrift">
        <img src="assets/images/flexbox/fb5.png">

      </div>

    <p>Wat opvalt is dat de levels moeilijker worden en dat er ook steeds minder hints gegeven worden. In dit level was het de bedoeling om de 3 kikkers op het juiste lelieblad te krijgen. Dit kon je doen door ‘justify-content: space-around’ te gebruiken. Space-around zorgt ervoor dat de ruimte rond de elementen gelijk verdeeld wordt. In dit geval wordt dus de ruimte rond de kikkers gelijk verdeeld. Vervolgens heb je ook nog space-between die de ruimte tussen de elementen verdeeld. Dit wil zeggen dat de ruimte tussen de elementen gelijk wordt verdeeld waardoor de buitenste elementen naar de zijkant van het scherm worden gedrukt</p>
    <div class="image-met-onderschrift">
      <img src="assets/images/flexbox/fb6.png" width="100%">

    </div>
    <p>In de volgende paar levels leerden we hoe we met flex-box items verticaal konden positioneren.</p>
    <div class="image-met-onderschrift">
      <img src="assets/images/flexbox/fb7.png">

    </div>
    <div class="image-met-onderschrift">
      <img src="assets/images/flexbox/fb8.png">
    </div>
    <p>Om elementen verticaal te kunnen verplaatsen kan je het keyword ‘align-items’ gebruiken. In dit level gebruik je ‘align-items: flex-end’ om de kikkers naar beneden te verplaatsen. </p>
    <p>Je kan ook de volgorde van de elementen veranderen, dit kan door gebruik te maken van flex-direction.</p>
    <div class="image-met-onderschrift">
      <img src="assets/images/flexbox/fb9.png">
    </div>
    <div class="image-met-onderschrift">
      <img src="assets/images/flexbox/fb10.png">
    </div>
    <p>In dit voorbeeld wordt ‘flex-direction: row-reverse’ gebruikt. Door row reverse wordt de volgorde van de kikkers omgedraaid en worden ze ook aan de rechterkant van het scherm geplaatst. Stel je zou de kikkers alsnog links willen plaatsen dan kan je dit combineren met ‘justify-content: flex-end’.</p>
    <p>Dit is ongeveer wat de basis van flexbox. In dit seminarie zijn we natuurlijk veel dieper gegaan en hebben we ook alle levels van deze minigame overlopen maar het is niet echt relevant voor dit portfolio.</p>
    <p>Hierna kregen we een korte uitleg over grid en hoe we met grid verschillende items konden positioneren op het scherm. Eerst kregen we de uitleg aan de hand van een demo en vervolgens werd alles herhaald aan de hand van de grid garden game. In deze game is het de bedoeling om aan de hand van CSS code het water bij de wortels te positioneren.</p>
    <div class="image-met-onderschrift">
      <img src="assets/images/flexbox/gr1.png">
    </div>
    <div class="image-met-onderschrift">
      <img src="assets/images/flexbox/gr2.png">
    </div>
    <p>In het eerste level kon je door ‘grid-column-start: 3’ te gebruiken het water opschuiven naar het vakje met de wortelen. Hieruit kan je dus afleiden dat je met grid-column-start je items horizontaal naar rechts kan verplaatsen. </p>
    <div class="image-met-onderschrift">
      <img src="assets/images/flexbox/gr3.png">
    </div>
    <div class="image-met-onderschrift">
      <img src="assets/images/flexbox/gr4.png">
    </div>
    <p>Enkele levels later hebben we geleerd hoe we een element, in dit geval het water, konden verspreiden over meerdere vakjes van het grid. Dit kan door ‘grid-column-end’ te gebruiken met ‘grid-column-start’.</p>
    <p>Ook voor grid hebben we alle levels overlopen om te begrijpen hoe de functies van grid werken.</p>
    <p>Je kan de games spelen via de volgende links: </p>
    <p><a href=" https://flexboxfroggy.com/#nl">flexbox froggy </a> </p>
    <p><a href=" https://cssgridgarden.com/#nl">grid garden</a> </p>
  </div>
  <div class="reflectie-container">

    <p>Ik had dit seminarie gekozen omdat ik moeite had met het positioneren van html-elementen op een webpagina. Het doel was voor mij om een nieuwe manier te leren om dit te kunnen doen. Ik vond het een interessant seminarie omdat alles wat er uitgelegd werd ook duidelijk aangetoond werd met een voorbeeld. Hierdoor was het ook makkelijker om te begrijpen wat flex-box en grid doen. Wat ik wel jammer vond is dat we de flex-boxfroggy game en de cssgridgarden klassikaal hebben overlopen. Ik had het leuker gevonden als we even de tijd kregen om X-aantal levels te maken en deze dan klassikaal te overlopen. Dan hadden we de kans om zelf te ontdekken hoe je grid en flex-box kan gebruiken. Ik denk dat je er dan ook meer uit leert omdat er dan meer ruimte om fouten te maken en uit deze fouten kun je uiteraard weer meer leren.</p>
    <p>Ik vind dat dit seminarie heel goed past binnen de opleiding. In het eerste jaar hadden we het vak Web-Essentials waar we een introductie kregen in de wereld van webdesign. In dit vak werd uiteraard ook aangehaald hoe je met CSS html-elementen kan positioneren maar flex-box en grid werd hier nooit aangehaald. Daarom denk ik dat dit een zeer mooie uitbreiding is op dit vak omdat je leert dat er ook andere manieren zijn om je html-elementen te positioneren op een webpagina. </p>
    <p>Ik heb ervoor gekozen om dit seminarie te bespreken in het portfolio omdat dit het meest interessante seminarie was van degene die ik gevolgd heb. Verder is dit seminarie een goede uitbreiding op het vak Web Essentials en moet het zeker behouden blijven in het aanbod van seminaries voor de volgende jaren.</p>
  </div>
</div>
  </div>
