<h1>Projectweek</h1>
<div class="container">
  <div class="img-container">
    <img src="assets/images/projectweek.jpg">
  </div>
  <div class="text-container">
    <h4>Omschrijving: In deze week kregen we aan de hand van verschillende seminaries tips and tricks over hoe we ons researchproject tot een goed einde konden brengen. Ook kregen we de kans om naar het job event te gaan.</h4>
    <h4>Locatie activiteit: Online via Teams</h4>
    <h4>Datum en duur: 15/02/2021 - 19/02/2021 </h4>
    <h4>Domein: persoonlijke ontwikkeling</h4>
  </div>
</div>
