<div class="overzicht-container">
  <div class="image-container">
    <img src="assets/images/AI.jpg">
  </div>
  <div class="text-container">
    <h1>Innovatieroute AI</h1>
    <h4>Omschrijving:In deze innovatieroute kregen we workshops over: Deep learning, AI & computervision, Fast AI </h4>
    <h4>Locatie activiteit: PXL</h4>
    <h4>Datum en duur Activiteit: 30/09/2021 – 23/10/2021 25u</h4>
    <h4>Domein: Innovatie</h4>
  </div>
</div>
<div class="inhoud">
<div class="titel">
  <h2>Verslag activiteit</h2>
  <h2>Reflectie activiteit</h2>
</div>
<div class="inhoud-container">
  <div class="verslag-container">
     <p>In deze innovatie route werden er 3 workshops gegeven over AI. De eerste workshop werd gegeven door Brainjar. In deze workshop hebben we meer geleerd over deep learning. De tweede workshop werd gegeven door Mediaan. In deze workshop kregen we meer uitleg over AI en Computervision en leerden we hoe we een huisrobot konden laten rondrijden. Tot slot kregen we nog een workshop van Cegeka waarbij we uitleg kregen over fast AI. </p>
    <p>In deze workshops kregen we uitleg over deep learning, AI en computervision en Fast AI. Eerst en vooral kregen we enkele voorbeelden te zien van toepassingen van AI. We kregen een video te zien waarin werd uitgelegd hoe een computer met behulp van AI Mario bros heeft leren spelen (<a href="https://youtu.be/qv6UVOQ0F44">MarI/O - Machine Learning for Video Games</a>). In dit filmpje is te zien hoe de computer zichzelf leert om een level uit te spelen. In het begin staat de Mario gewoon stil en gebeurt er niets. Enkele pogingen later zie je dat de computer geleerd heeft om naar rechts te lopen. Zo een poging wordt een generatie genoemd. Dit komt doordat de AI geleerd heeft dat hij de meeste afstand kan afleggen door naar rechts te lopen. Enkele generaties later zie je dat de AI een manier heeft gevonden om alle knoppen te gebruiken en zo tot het einde te geraken.  </p>
    <p>Vervolgens kregen we een video te zien waar AI leerde om verstoppertje te spelen (<a href="https://youtu.be/Lu56xVlZ40M)">OpenAI Plays Hide and Seek…and Breaks The Game! </a>). In het begin zie je hoe de blauwe mannetjes oftewel de verstoppers proberen weg te rennen van de zoekers. Na enkele keren ontdekken ze dat dit niet werkt en proberen ze zichzelf op te sluiten door de ingangen te blokkeren met de vierkante blokken.  Nu is het onmogelijk voor de rode mannetjes om de blauwe mannetjes te vinden. Enkele pogingen later merken de rode mannetjes dat ze het driehoekig vlak kunnen verschuiven zodat ze over de muur kunnen klimmen. Dit voorbeeld laat zien dat AI zich kan aanpassen aan verschillende omstandigheden om zijn doel te bereiken.</p>
    <p>Tijdens een van de workshops mochten we zelf proberen om een robot te laten rondrijden en obstakels te vermijden. Dit werd gedaan in een simulatieomgeving dus er werden geen echte robots gebruikt. Om te beginnen moesten we eerst de robot trainen. Dit deden we door het evolve script te runnen.</p>
    <div class="image-met-onderschrift">
      <img src="assets/images/inovatieroute/AI1.png">
    </div>
    <p>Voordat je het script runt moet je kiezen of je de robot vanaf het begin wil trainen of dat je hem wil trainen vanaf een bepaalde generatie. Op de screenshot heb ik ervoor gekozen om het model te gaan trainen vanaf een bestaande generatie, daarom staat de code om opnieuw te beginnen in commentaar.</p>
    <div class="image-met-onderschrift">
      <img src="assets/images/inovatieroute/AI2.png">

    </div>

    <p>Op bovenstaande screenshot zie je de code die nodig is om te beginnen vanaf een bepaalde generatie.  Hier zie je dat generatie 1 wordt ingeladen in de variabele ‘population’. En vervolgens wordt er een nieuw generisch algoritme aangemaakt en wordt de ‘population‘ hieraan meegegeven. Wanneer je het script runt krijg je onderstaande output. Dit zijn de uitkomsten van de verschillende berekeningen die er gebeuren om een generatie aan te maken.</p>

    <div class="image-container">
      <div class="image-met-onderschrift">
        <img src="assets/images/inovatieroute/AI3.png">
      </div>
      <div class="image-met-onderschrift">
        <img src="assets/images/inovatieroute/AI4.png">

      </div>
    </div>

    <p>Nadat je het evolve script hebt uitgevoerd is het tijd om te kijken of de robot echt kan rijden. Dit kan je doen door het visual_run script te runnen. </p>

    <div class="image-met-onderschrift">
      <img src="assets/images/inovatieroute/AI5.png">
    </div>


    <p> In dit script wordt de plattegrond waarover de robot rijdt en de robot aangemaakt. Wat belangrijk is dat je de robot hetzelfde aantal sensors geeft als het aantal inputs dat je hebt meegegeven in het genetisch algoritme in het evolve script. In dit voorbeeld zijn dat er twaalf. Voordat je het script start moet je aangeven welke generatie je wilt simuleren. In dit voorbeeld is dat generatie 1.</p>
    <div class="image-met-onderschrift">
      <img src="assets/images/inovatieroute/AI6.png">

    </div>
    <p>Wanneer ik het script runde kreeg ik het volgende resultaat. </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/F811zrpCvLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p> Je ziet dat de robot goed begint, vervolgens maakt hij een bocht en weet hij vervolgens niet meer waar hij naartoe moet en eindigt hij in een oneindige loop.</p>
   <p>Na deze workshop kregen we nog een workshop over fast AI. In deze workshop kregen we een korte introductie over fast AI gevolgd door voorbeelden van toepassingen hiervan. Tot slot kregen we ook enkele praktijkoefeningen in verband met het klasseren van images.</p>
  </div>
  <div class="reflectie-container">
    <p>Over het algemeen vond ik de workshops interessant. De toepassingen van AI en het laten rondrijden van de robot vond ik het meest interessant aan deze innovatieroute. Dit is me dan ook het meeste bijgebleven. In deze workshops kregen we ook een theoretische uitleg over deep learning en fast AI. Zelf vond ik dit ingewikkelde theorie en vond ik het ook moeilijk om dit te verwerken, daarom herinner ik me ook niet zo veel van sommige workshops. Om dit te voorkomen kan ik de volgende keer notities nemen tijdens de workshop zodat ik deze theorie opnieuw kan bekijken.</p>
    <p>Ik vond het moeilijk om een robot te maken die lang kon blijven rijden zonder obstakels te raken. Ik had een versie waarbij de robot met een sensor heel lang kon blijven rijden maar die generatie heb ik per ongeluk overschreven waardoor ik deze kwijt ben.</p>
    <p>Tijdens het werken met de simulatie van de robot heb ik een moment gehad dat het gewoon niet werkte. De sensors laadden niet goed in en stonden niet rond de robot maar ergens aan de andere kant van de kamer. Om dit op te lossen heb ik alle files waarin ik iets had aangepast teruggezet naar de beginsituatie en hierna werkte het terug wel. Verder heb ik niet echt problemen ondervonden in een van de andere workshops.</p>
    <p>Ik vind dat deze innovatieroute mij een goede introductie heeft gegeven over AI. Deze innovatieroute geeft volgens mij goed weer wat de studenten uit de afstudeerrichting AI en robotics leren.</p>
  </div>
</div>
</div>

